<h1>Synthesise speech</h1>
<p>Using the following form, paste the text you wish to have synthesised.</p>
<p>Please, synthesise responsibly. Some services incur a cost and others are rate limited.</p>

<form class="o-forms synthesis-form">

	<div class="inputsContainer">
		<div>
			<label for="o-forms__textarea" class="o-forms__label">Text to synthesise</label>
			<textarea placeholder="Lorem ipsum dolor sit amet..." id="o-forms__textarea" class="o-forms__textarea"></textarea>
		</div>

		<div>
			<fieldset class="o-forms">
				<legend class="o-forms__label">Services to use</legend>

				{{#each availableServices}}
					<input type="checkbox" name="{{this.shortname}}" value="1" class="o-forms__checkbox" id="{{this.shortname}}"></input>
					<label for="{{this.shortname}}" class="o-forms__label">{{this.name}}</label>
				{{/each}}

			</fieldset>
		</div>
	
	</div>

	<button class="o-buttons o-buttons--standout o-buttons--big">Synthesise</button>

</form>

<div class="results" data-visible="false">
	<h2>Synthesis results</h2>

	<ul class="resultList">

		<!--<li>
			<h4>Amazon Polly</h4>
			<audio src="" controls></audio>
		</li>-->

	</ul>

</div>

<script>

	function prevent(e){e.preventDefault();e.stopImmediatePropagation();}

	var synthesisForm = document.querySelector('form.synthesis-form');
	var resultsHolder = document.querySelector('.results');
	var resultsList = resultsHolder.querySelector('.resultList');

	synthesisForm.addEventListener('submit', function(e){
		prevent(e);

		resultsHolder.dataset.visible = 'true';
		resultsList.innerHTML = "";

		var text = this[0].value;
		var services = Array.from(this[1].querySelectorAll('input[type="checkbox"]')).map(function(box){
			return box.checked ? box.name : false;
		}).filter(function(entry){
			return entry !== false;
		});

		console.log(services);

		services.forEach(function(service){

			fetch('/service/' + service, {
					method : 'POST',
					headers : {
						'Content-Type' : 'application/json'
					},
					body : JSON.stringify({
						content : text
					})
				})
				.then(function(result){

					if(result.status !== 200){
						throw result;
					}

					return result.blob();
				})
				.then(result => {
					console.log(result);

					var li = document.createElement('li');
					var serviceTitle = document.createElement('h4');
					var audio = document.createElement('audio');

					serviceTitle.textContent = synthesisForm.querySelector('label[for="' + service + '"]').textContent;
					audio.src = window.URL.createObjectURL(result);
					audio.controls = 'controls';

					li.appendChild(serviceTitle);
					li.appendChild(audio);

					resultsList.appendChild(li);

				})
				.catch(function(err){
					console.log('Error', err);
				})
			;

		})

	}, false);

</script>