<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    <link rel="stylesheet" href="https://build.origami.ft.com/v2/bundles/css?modules=o-header-services@^1.0.2,o-fonts@^2.2.0,o-forms@^3.2.3,o-buttons@^4.4.3" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
  </head>
  <body>
    {{> header}}
    <div class="wrapper">
      {{{body}}}
    </div>
    <script src="https://build.origami.ft.com/v2/bundles/js?modules=o-header-services@^1.0.2"></script>
  </body>
</html>
