*[data-visible="false"]{
  display: none;
}

html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: MetricWeb, Helvetica, Arial, sans-serif;
    background-color: #FFF1E0;
}

.wrapper{
  width: 1180px;
  height: auto;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  box-sizing: border-box;
  padding: 1em;
  background-color: white;
}

a {
  color: #00B7FF;
}

.synthesis-form{
  display: flex;
  justify-content: space-around;
  max-width: inherit !important;
  flex-direction: column;
}

.synthesis-form .inputsContainer {
  display: flex;
  flex-direction: column;
}

.synthesis-form div{
  flex-grow: 1;
  min-width: 25%;
  margin-bottom: 1em;
}

.synthesis-form fieldset.o-forms{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
}

.synthesis-form button{
  max-width: 140px;
}

/*.synthesis-form .inputsContainer .availableServices input[type="checkbox"] + .voice-selector{
  display: none;
}*/

.synthesis-form .inputsContainer .availableServices .voice-selector{
  display: none;
  flex-direction: column;
  margin-bottom: 1em;
}

.synthesis-form .inputsContainer .availableServices input[type="checkbox"]:checked + label + .voice-selector{
  display: flex;
}

.resultList{
  padding: 0;
  list-style-type: none;
}


.resultList li[data-loading="true"] audio{
  display: none;
}

.resultList li[data-loading="false"] .o-loading{
  display: none;
}

.resultList li p{
  color: #cc0000;
  display: none;
}

.resultList li[data-error="true"] p {
  display: inherit;
}

.resultList li[data-error="true"] audio {
  display: none;
}


@media (max-width: 600px) {
  .synthesis-form .inputsContainer{
    flex-direction: column;
  } 

}